teste carnes
<a href="/">index</a>
<form action="../Controllers/Index/IndexController.php?acao=teste" method="post">
    <input type="text" name="nome" placeholder="nome">
    <input type="submit">
</form>